# Gradle / Java / Spring Boot
.gradle/
build/
target/
*.class
*.jar

# IDEs y SO
.idea/
.vscode/
*.iml
.DS_Store

# Variables de entorno y Terraform
.env
.terraform/
*.tfstate
*.tfstate.*
terraform/terraform.tfvars
terraform/*.pem

# Node / React (Frontend)
node_modules/
build/
dist/
